h1{
    background-color: aqua;
}
body{
    background: #167bc1;
    
}
img{
    height: 150px;
    border-radius: 2000px;
   align-items: center;

}
.column{
    float: left;
    width: 20%;
    padding: 5px;

}
h2{
    margin-left: 40px;
}
